body {
    background-color: aqua;
}

img {
    height: 250px;
    width: 250px;
    margin: auto;
    padding: auto;
    padding-top: 5%;
    align-content: center;
    float: right;
}

.jumbotron {
    align-content: center;
    text-align: center;
    background-color: aqua;
    float: left;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
    margin-bottom: 10%;
}